* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
}

header .title {
    font-size: 2em;
}

main {
    margin: 0px 15px;
    text-align: justify;
    background-color: #f0f0f0;
}


/* hero section */
.hero {
    margin-top: 10px;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

.hero .hero-wrap {
    display: flex;
    align-items: end;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.hero-wrap button {
    background-color: #5caca7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
.hero-wrap button:hover {
    background-color: #000000;
    color: #fff;
}

/* features section */
#features {

    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
}
#features .carousel {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carousel h3, .carousel p {
    padding: 10px;
}

.carousel img {
    width: 100%;
    height: 400px;
}
.carousel .image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.carousel img:hover {
    transform: scale(1.2);
    transition: transform 0.9s;
}

/* how it works section */
#how-it-works {
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 10px;
}
#how-it-works .column {
    position: relative;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#how-it-works .column:hover {
    background-color: #5caca7;
    color: #fff;
    margin: 10px;
    transition: margin 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s;
    transition: background-color 0.9s;
}

#how-it-works .column p {
    padding: 10px;
    height: 100px;
    margin-bottom: 10px;
}
#how-it-works .column h3 {
    text-align: center;
    padding: 5px;
    background-color: #5caca7;
    color: #fff;
    font-weight: 600;
}
#how-it-works .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    resize: both;
}
#how-it-works .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}
#how-it-works .image img:hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}

#how-it-works .icon {
    position: absolute;
    top: -5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #5caca7;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

/* footer style */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
footer .social {
    padding: 10px;
    justify-content: center;
    align-items: center;
}
footer a {
    color: #5caca7;
}

footer .social ul {
    display: flex;
    font-size: 1.2em;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



/* style for large screens */
@media (min-width: 768px) {
    nav ul{
        display: flex;
        gap: 20px;
    }
    .hero-content {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
    }

    .hero-wrap p {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .hero .hero-wrap:hover p {
        opacity: 1;
        transform: translateY(0);
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #features .row {
        display: flex;
        flex: 1;
        gap: 20px;
    }
    #how-it-works {
        width: 100%;
        display: flex;
    }
    #how-it-works .column {
        flex: 1;
        margin: 5px;
        width: 100px;
    }
}